.mt-120 {
    margin-top: 120px;
}
.mt-90 {
    margin-top: 90px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-65 {
    margin-top: 65px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mt--300 {
    margin-top: -300px;
}

.mtb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.mtb-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-80 {
    margin-bottom: 80px;
}

.ml-15 {
    margin-left: 15px;
}



.pt-200 {
    padding-top: 200px;
}

.p-40 {
    padding: 40px;
}

.pb-100 {
    padding-bottom: 100px;
}
.pb-300 {
    padding-bottom: 300px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.plr-40 {
    padding-left: 40px;
    padding-right: 40px;
}



.between-10 > *:nth-child(n+2) {
    margin-left: 10px;
}
.between-15 > *:nth-child(n+2) {
    margin-left: 15px;
}
.between-20 > *:nth-child(n+2) {
    margin-left: 20px;
}
.between-25 > *:nth-child(n+2) {
    margin-left: 25px;
}
.between-60 > *:nth-child(n+2) {
    margin-left: 60px;
}



.betwixt-20 > *:nth-child(n+2) {
    margin-top: 20px;
}



.font_Gilroy-15-900-C0C7D4 {
    color: #C0C7D4;
    font-size: 17px;
    font-weight: 800;
    font-family: Gilroy, sans-serif;
}
.font_Gilroy-17-800-000000 {
    color: #000;
    font-size: 13.6px;
    font-weight: 800;
    text-decoration: none;
    font-family: Gilroy, sans-serif;
}
.font_Gilroy-18-800-000000 {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    font-family: Gilroy, sans-serif;
}
/*a[class*="font_"] {
    text-decoration: none;
}
a[class*="font_"]:hover {
    text-decoration: underline;
}*/
.font_type_2 {
    color: #000;
    font-weight: 400;
    font-size: 14.4px;
    font-family: Gilroy, sans-serif;
}
.font_type_3 {
    color: #818181;
    font-weight: 400;
    font-size: 14.4px;
    font-family: Gilroy, sans-serif;
}
.font_type_4 {
    color: #000;
    font-weight: 800;
    font-size: 12.8px;
    font-family: Gilroy, sans-serif;
}
.font_type_5 {
    color: #C0C7D4;
    font-weight: 900;
    line-height: 16px;
    font-size: 13.6px;
    text-transform: uppercase;
    font-family: Gilroy, sans-serif;
}
.font_type_6 {
    color: #00AEF4;
    cursor: pointer;
    font-weight: 800;
    line-height: 17px;
    font-size: 13.6px;
    text-decoration: underline;
    font-family: Gilroy, sans-serif;
}
.font_type_6:hover {
    text-decoration: none;
}
.font_type_7 {
    color: #000;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    font-family: Roboto, sans-serif;
}
.font_type_8 {
    color: #000;
    font-size: 16.8px;
    font-weight: 800;
    line-height: 19.2px;
    font-family: Roboto, sans-serif;
}
.font_type_9 {
    color: #000;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}
.font_type_10 {
    color: #000;
    font-weight: 900;
    font-size: 14.4px;
    font-family: Gilroy, sans-serif;
}
.font_type_11 {
    color: #000;
    font-size: 13.6px;
    font-weight: 800;
    font-family: Gilroy, sans-serif;
}
.font_type_12 {
    color: #000;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}
.font_type_13 {
    color: #000;
    font-size: 11px;
    font-weight: 600;
    font-family: Gilroy, sans-serif;
}
.font_type_14 {
    color: #FE4375;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}



.bg_image_header-main {
    background-image: url(./images/bg_header-page-main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg_color_f8 {
    background-color: #F8F8F8;
}
.bg_color_e4eff9 {
    background-color: #E4EFF9;
}
.bg_color_fffcfe {
    background-color: #FFFCFE;
}



.j-c_s-b, .j-c_c, .a-i_c {
    display: flex;
}
.j-c_s-b {
    justify-content: space-between;
}
.j-c_c {
    justify-content: center;
}
.a-i_c {
    align-items: center;
}
.t-a_c {
    text-align: center;
}