.slick-initialized .slick-slide {
    outline: none;
}
.slick-dots li button:before {
    opacity: 1;
    font-size: 8px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #FF187E;
}
.slick-slider:not(.slick-initialized) .slick-slide:nth-child(n+2) {
    display: none;
}